<div class="container-fluid py-lg-5 mt-lg-5">
    <div class="row justify-content-center mb-5">
        <div class="col-xl-12">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center p-3 faq-header mb-4">
                        <h5 class="mb-1 text-fixed-white fw-semibold">F.A.Q's</h5>
                        <h4 class="mb-1 custom-links fw-semibold">Frequently Asked Questions</h4>
                        <p class="fs-15 text-muted op-7">
                            We have shared some of the most frequently asked questions to
                            help you out!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-10">
            <div class="row">
                <div class="col-xl-6">
                    <div class="card custom-card form-background text-default">
                        <div class="card-header">
                            <div class="card-title">General Topics ?</div>
                        </div>
                        <div class="card-body">
                            <div class="accordion accordion-customicon1 accordion-primary" id="accordionFAQ1">

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingcustomicon2One">
                                        <button class="accordion-button collapsed form-background text-default"
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapsecustomicon2One" aria-expanded="false"
                                            aria-controls="collapsecustomicon2One">
                                            Do you offer any warranty on ATVs?
                                        </button>
                                    </h2>
                                    <div id="collapsecustomicon2One"
                                        class="accordion-collapse collapse form-background border"
                                        aria-labelledby="headingcustomicon2One" data-bs-parent="#accordionFAQ1">
                                        <div class="accordion-body">
                                            <strong class="text-secondary">Yes,</strong>
                                            we offer a standard warranty on all new ATV Quad Bikes.The duration and
                                            coverage vary by model. You can check warranty details on the product page
                                            or contact support for more info.
                                        </div>
                                    </div>
                                </div>


                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingcustomicon2Two">
                                        <button class="accordion-button collapsed form-background text-default"
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapsecustomicon2Two" aria-expanded="false"
                                            aria-controls="collapsecustomicon2Two">
                                            What are your store opening hours?
                                        </button>
                                    </h2>
                                    <div id="collapsecustomicon2Two"
                                        class="accordion-collapse collapse form-background border"
                                        aria-labelledby="headingcustomicon2Two" data-bs-parent="#accordionFAQ1">
                                        <div class="accordion-body">
                                            As an online store, we're open <strong class="text-secondary">24/7!</strong>
                                            You can place orders any time. For live support, our team is available
                                            Monday to Saturday, 10 AM to 6 PM.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingcustomicon2Three">
                                        <button class="accordion-button collapsed form-background text-default"
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapsecustomicon2Three" aria-expanded="false"
                                            aria-controls="collapsecustomicon2Three">
                                            Can I return or exchange a Quad Bike after purchase?
                                        </button>
                                    </h2>
                                    <div id="collapsecustomicon2Three"
                                        class="accordion-collapse collapse form-background border"
                                        aria-labelledby="headingcustomicon2Three" data-bs-parent="#accordionFAQ1">
                                        <div class="accordion-body">
                                            Yes, returns or exchanges are accepted within <strong
                                                class="text-secondary">7 days of delivery</strong> ,provided the ATV is
                                            unused and in original condition. Please refer to our Return Policy for
                                            detailed instructions.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingcustomicon2Four">
                                        <button class="accordion-button collapsed form-background text-default"
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapsecustomicon2Four" aria-expanded="false"
                                            aria-controls="collapsecustomicon2Four">
                                            Do I have the right to return an item?
                                        </button>
                                    </h2>
                                    <div id="collapsecustomicon2Four"
                                        class="accordion-collapse collapse form-background border"
                                        aria-labelledby="headingcustomicon2Four" data-bs-parent="#accordionFAQ1">
                                        <div class="accordion-body">
                                            Yes, returns or exchanges are accepted within 7 days of delivery, provided
                                            the ATV is unused and in original condition. Please refer to our Return
                                            Policy for detailed instructions.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card custom-card form-background">
                        <div class="card-header">
                            <div class="card-title">Customer Support ?</div>
                        </div>
                        <div class="card-body ">
                            <div class="accordion accordion-customicon1 accordion-primary " id="accordionFAQ3">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingcustomicon3One">
                                        <button class="accordion-button collapsed form-background text-default"
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapsecustomicon3One" aria-expanded="false"
                                            aria-controls="collapsecustomicon3One">
                                            What is the ordering process?
                                        </button>
                                    </h2>
                                    <div id="collapsecustomicon3One"
                                        class="accordion-collapse collapse form-background border"
                                        aria-labelledby="headingcustomicon3One" data-bs-parent="#accordionFAQ3">
                                        <div class="accordion-body">
                                            Simply browse our product catalog, add your desired ATV to the cart, proceed
                                            to checkout, and make payment. Once confirmed, we’ll begin processing your
                                            order immediately.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingcustomicon3Two">
                                        <button class="accordion-button collapsed form-background text-default"
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapsecustomicon3Two" aria-expanded="false"
                                            aria-controls="collapsecustomicon3Two">
                                            How do I track my order?
                                        </button>
                                    </h2>
                                    <div id="collapsecustomicon3Two"
                                        class="accordion-collapse collapse form-background border"
                                        aria-labelledby="headingcustomicon3Two" data-bs-parent="#accordionFAQ3">
                                        <div class="accordion-body">
                                            After placing your order, you’ll receive an email with a tracking ID once it
                                            ships. You can also view real-time tracking under “My Orders” in your
                                            account.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingcustomicon3Three">
                                        <button class="accordion-button collapsed form-background text-default"
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapsecustomicon3Three" aria-expanded="false"
                                            aria-controls="collapsecustomicon3Three">
                                            Which payment methods do you accept?
                                        </button>
                                    </h2>
                                    <div id="collapsecustomicon3Three"
                                        class="accordion-collapse collapse form-background border"
                                        aria-labelledby="headingcustomicon3Three" data-bs-parent="#accordionFAQ3">
                                        <div class="accordion-body">
                                            We accept major debit/credit cards, bank transfers, and COD (Cash on
                                            Delivery) in selected regions.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingcustomicon3Four">
                                        <button class="accordion-button collapsed form-background text-default"
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapsecustomicon3Four" aria-expanded="false"
                                            aria-controls="collapsecustomicon3Four">
                                            How much does shipping cost?
                                        </button>
                                    </h2>
                                    <div id="collapsecustomicon3Four"
                                        class="accordion-collapse collapse form-background border"
                                        aria-labelledby="headingcustomicon3Four" data-bs-parent="#accordionFAQ3">
                                        <div class="accordion-body">
                                            hipping is free for all orders over <strong class="text-secondary">7 days of
                                                delivery</strong> For smaller orders, a minimal delivery fee will be
                                            calculated at checkout based on your location.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>