
<div class="landing-page-wrapper custom-backgorund">
    <div class="main-content landing-main px-0">
        <div class="landing-banner" id="home">
            <section class="section">
                <div class="container main-banner-container pb-lg-0">
                    <div class="row mt-lg-5 py-5 align-items-center">
                        <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-8">
                            <div class="py-lg-5 px-lg-5">
                                <div class="mb-3">
                                    <h5 class="fw-semibold text-fixed-white op-9">
                                        RIDE WITH PASSION
                                    </h5>
                                </div>
                                <p class="landing-banner-heading mb-3">
                                    Get ready for the thrill of a lifetime with
                                    <span class="text-secondary">Subhan Enterprises</span>
                                </p>
                                <div class="fs-16 mb-5 text-fixed-white op-7">
                                    Powerful, reliable, and ready to conquer any road, Subhan Enterprises has the best ATV Quad bikes for you.
                                </div>
                                <a href="index.html" class="m-1 btn btn-register">
                                    Explore Now <i class="fas fa-eye ms-2 align-middle"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-4">
                            <div class="text-end landing-main-image landing-heading-img">
                                <img src="../assets/images/media/landing/landing-image-1.png" alt=""
                                    class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section class="section section-bg py-5" id="statistics">
            <div class="container text-center position-relative">
                <p class="fs-12 fw-semibold text-success mb-1">
                    <span class="landing-section-heading">STATISTICS</span>
                </p>
                <h3 class="fw-semibold mb-2">More than 120+ projects completed.</h3>
                <div class="row justify-content-center">
                    <div class="col-xl-7">
                        <p class="text-muted fs-15 mb-5 fw-normal">
                            We are proud to have top class clients and customers,which
                            motivates us to work more on projects.
                        </p>
                    </div>
                </div>
                <div class="row g-2 justify-content-center">
                    <div class="col-xl-12">
                        <div class="row justify-content-evenly">
                            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                                <div class="p-3 text-center rounded-2 bg-white border">
                                    <span class="mb-3 avatar avatar-lg avatar-rounded bg-primary-transparent">
                                        <i class="fs-24 bx bx-spreadsheet"></i>
                                    </span>
                                    <h3 class="fw-semibold mb-0 text-dark">120+</h3>
                                    <p class="mb-1 fs-14 op-7 text-muted">Projects</p>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                                <div class="p-3 text-center rounded-2 bg-white border">
                                    <span class="mb-3 avatar avatar-lg avatar-rounded bg-primary-transparent">
                                        <i class="fs-24 bx bx-user-plus"></i>
                                    </span>
                                    <h3 class="fw-semibold mb-0 text-dark">20K+</h3>
                                    <p class="mb-1 fs-14 op-7 text-muted">Clients</p>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                                <div class="p-3 text-center rounded-2 bg-white border">
                                    <span class="mb-3 avatar avatar-lg avatar-rounded bg-primary-transparent">
                                        <i class="fs-24 bx bx-money"></i>
                                    </span>
                                    <h3 class="fw-semibold mb-0 text-dark">$45.8M</h3>
                                    <p class="mb-1 fs-14 op-7 text-muted">Income Earned</p>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                                <div class="p-3 text-center rounded-2 bg-white border">
                                    <span class="mb-3 avatar avatar-lg avatar-rounded bg-primary-transparent">
                                        <i class="fs-24 bx bx-user-circle"></i>
                                    </span>
                                    <h3 class="fw-semibold mb-0 text-dark">854</h3>
                                    <p class="mb-1 fs-14 op-7 text-muted">Employees</p>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-12 mb-3">
                                <div class="p-3 text-center rounded-2 bg-white border">
                                    <span class="mb-3 avatar avatar-lg avatar-rounded bg-primary-transparent">
                                        <i class="fs-24 bx bx-calendar"></i>
                                    </span>
                                    <h3 class="fw-semibold mb-0 text-dark">5+</h3>
                                    <p class="mb-1 fs-14 op-7 text-muted">Years of Experience</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>