<div class="landing-page-wrapper custom-backgorund border px-lg-5">
    <div class="main-content landing-main px-0 custom-backgorund py-5">
        <section class="section landing-footer text-fixed-white px-lg-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-12 mb-md-0 mb-3">
                        <div class="px-4">
                            <!-- <p class="fw-semibold mb-3">
                                    <a href="index.html"><img src="../assets/images/brand-logos/ATV-logo.png"
                                            alt="" /></a>
                                </p> -->
                            <p class="mb-2 op-6 fw-normal">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Reprehenderit et magnam, fuga est mollitia eius, quo illum illo
                                inventore optio aut quas omnis rem. Dolores accusantium
                                aspernatur minus ea incidunt.
                            </p>
                            <p class="mb-0 op-6 fw-normal">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem
                                ea esse ad
                            </p>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-12">
                        <div class="px-4">
                            <h6 class="fw-semibold mb-3 text-fixed-white">PAGES</h6>
                            <ul class="list-unstyled fw-normal landing-footer-list">
                                <li>
                                    <a routerLink="/" class="custom-links" role="button">Home</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="custom-links">Pricing</a>
                                </li>
                                <li>
                                    <a routerLink="/faq" class="custom-links" role="button">FAQ'S</a>
                                </li>
                                <li>
                                    <a routerLink="/contact-us" class="custom-links" role="button">Contact US</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-12">
                        <div class="px-4">
                            <h6 class="fw-semibold text-fixed-white">INFO</h6>
                            <ul class="list-unstyled fw-normal landing-footer-list">
                                <li>
                                    <a href="javascript:void(0);" class="text-fixed-white custom-links">Our Team</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="text-fixed-white custom-links">Contact US</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="text-fixed-white custom-links">About</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="text-fixed-white custom-links">Services</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="text-fixed-white custom-links">Blog</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="text-fixed-white custom-links">Terms &amp;
                                        Conditions</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="px-4">
                            <h6 class="fw-semibold text-fixed-white">CONTACT</h6>
                            <ul class="list-unstyled fw-normal landing-footer-list">
                                <li>
                                    <a href="https://www.google.com/maps?q=Subhan+Enterprises,+Mall+Road,+Lahore"
                                        target="_blank" class="text-fixed-white custom-links"><i
                                            class="fas fa-home me-1 align-middle"></i> Subhan
                                        Enterprises - Mall Road Lahore</a>
                                </li>
                                <li>
                                    <a href="mailto:naeem.majeed101@gmail.com" class="text-fixed-white custom-links"><i
                                            class="fas fa-envelope me-1 align-middle"></i>
                                        naeem.majeed101&#64;gmail.com</a>
                                </li>
                                <li>
                                    <a href="tel:+923324350140" class="text-fixed-white custom-links"><i
                                            class="fas fa-phone me-1 align-middle"></i> +(92) 332
                                        4350140</a>
                                </li>
                                <li>
                                    <a href="https://wa.me/923324350140" target="_blank" class="text-fixed-white custom-links"><i
                                            class="fab fa-whatsapp me-1 align-middle"></i> +(92) 332
                                        4350140</a>
                                </li>
                                <li class="mt-3">
                                    <p class="mb-2 fw-semibold op-8">FOLLOW US ON :</p>
                                    <div class="mb-0">
                                        <div class="btn-list">
                                            <a href="https://facebook.com/SubhanEnterprise?mibextid=ZbWKwL"
                                                target="_blank"
                                                class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light"
                                                role="button">
                                                <i class="fab fa-facebook-f fw-bold"></i>
                                            </a>
                                            <a role="button"
                                                href="https://www.instagram.com/subhan._enterprises?igsh=YXoydXpwNzFkdWc4"
                                                target="_blank"
                                                class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                                                <i class="fab fa-instagram fw-bold"></i>
                                            </a>
                                            <a role="button" href="https://www.tiktok.com/@subhan_enterprises"
                                                target="_blank"
                                                class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                                                <i class="fab fa-tiktok fw-bold"></i>
                                            </a>
                                            <a role="button" href="https://youtube.com/@Subhan-Enterprises"
                                                target="_blank"
                                                class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                                                <i class="fab fa-youtube fw-bold"></i>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="text-center landing-main-footer pt-3">
            <span class="text-muted fs-15">
                Copyright © <span id="year">2025</span>
                <a href="javascript:void(0);" class="text-default fw-semibold custom-links"><u> Subhan</u></a>
                <a href="javascript:void(0);" class="text-default fw-semibold custom-links"><u> Enterprises</u>
                </a>
                All rights reserved
            </span>
        </div>
    </div>
</div>