<div class="app-content mt-lg-5 py-lg-5 px-lg-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="about-container mb-4">
                    <div class="aboutus-banner">
                        <div class="aboutus-banner-content">
                            <div class="row align-items-center">
                                <div class="col-xxl-6 col-xl-6">
                                    <div class="row justify-content-center">
                                        <div class="col-xxl-9 col-xl-9 col-lg-10 col-md-8 col-sm-10 col-12">
                                            <div class="p-3 text-start mb-4">
                                                <h6 class="fw-semibold text-fixed-white pb-4">
                                                    <span class="about-heading-white">About Us</span>
                                                </h6>
                                                <h3 class="fw-semibold mb-2 text-fixed-white">
                                                    DISCIPLINE IS WHAT
                                                    <span class="custom-links">MOTIVATES</span> YOU MOST
                                                </h3>
                                                <p class="mb-4 fw-normal op-7 fs-16">
                                                    You fight like a younger man, there’s nothing held
                                                    back. It’s admirable, but mistaken. When their enemies
                                                    were at the gates the Romans would suspend democracy
                                                    and appoint one man to protect the city...
                                                </p>
                                                <button class="btn btn-register btn-wave waves-effect waves-light">
                                                    Get Started
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-xl-6 aboutus-banner-img">
                                    <img src="../assets/images/media/Atv-vector.png" class="img-fluid" alt="" />
                                </div>
                                <div class="col-xl-12 about-company-stats">
                                    <div class="row justify-content-center">
                                        <div class="col-xxl-5 col-xl-8 col-lg-10 col-md-8 col-sm-10 col-10">
                                            <div class="card custom-card text-default shadow border form-background">
                                                <div class="card-body p-0">
                                                    <div class="row">
                                                        <div
                                                            class="col-xl-4 col-xxl-4 col-lg-4 col-md-4 col-sm-4 about-company-stats-border">
                                                            <div
                                                                class="text-center p-4 w-100 h-100 d-flex align-items-center justify-content-center">
                                                                <div>
                                                                    <span class="fw-semibold">Quad Bikes</span>
                                                                    <p class="text-dark fs-2 mb-0">
                                                                        <span class="count-up"
                                                                            data-count="137">300</span>+
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="col-xl-4 col-xxl-4 col-lg-4 col-md-4 col-sm-4 about-company-stats-border">
                                                            <div
                                                                class="text-center p-4 w-100 h-100 d-flex align-items-center justify-content-center">
                                                                <div>
                                                                    <span class="fw-semibold">Happy Customers</span>
                                                                    <p class="text-dark fs-2 mb-0">
                                                                        <span class="count-up"
                                                                            data-count="2500">10,000</span>+
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-4 col-sm-4">
                                                            <div
                                                                class="text-center p-4 w-100 h-100 d-flex align-items-center justify-content-center">
                                                                <div>
                                                                    <span class="fw-semibold">Clients</span>
                                                                    <p class="text-dark fs-2 mb-0">
                                                                        <span class="count-up"
                                                                            data-count="22">50+</span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-5 px-3 about-motto">
                        <div class="col-xxl-5 col-xl-8 col-lg-10 col-md-10 col-sm-12">
                            <div class="text-justify">
                                <div class="text-dark fs-26 fw-semibold mb-4">
                                    <span class="about-heading">Our Mission</span>
                                </div>
                                <p class="fs-14 mb-4 text-muted">
                                    At Quad Rides, our mission is to provide thrilling off-road
                                    experiences with top-quality quad bikes. We aim to offer
                                    adventurers of all levels the chance to explore rugged
                                    terrains, while ensuring safety and fun. Whether you’re an
                                    experienced rider or a first-timer, we’re committed to
                                    delivering an unforgettable experience.
                                </p>
                                <div>
                                    <div class="d-flex mb-4">
                                        <div>
                                            <svg class="motto-icon" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 24 24" width="24" height="24">
                                                <defs>
                                                    <linearGradient id="grad3" x1="0%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: #00ffff; stop-opacity: 1" />
                                                        <stop offset="100%" style="
                                stop-color: rgba(0, 255, 255, 0.2);
                                stop-opacity: 1;
                              " />
                                                    </linearGradient>
                                                </defs>
                                                <path fill="url(#grad3)" d="M2 21l7-7h4l7 7H2z" />
                                            </svg>
                                        </div>
                                        <div class="ms-4">
                                            <h5>Ultimate Adventure Experience</h5>
                                            <p class="text-muted">
                                                Our quad bikes are designed to give riders the ultimate
                                                thrill of off-road adventure. With powerful engines and
                                                rugged durability, they are perfect for exploring
                                                uncharted terrains and facing every challenge head-on.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="d-flex mb-4">
                                        <div>
                                            <svg class="motto-icon" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 24 24" width="24" height="24">
                                                <defs>
                                                    <linearGradient id="grad3" x1="0%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: #00ffff; stop-opacity: 1" />
                                                        <stop offset="100%" style="
                                stop-color: rgba(0, 255, 255, 0.2);
                                stop-opacity: 1;
                              " />
                                                    </linearGradient>
                                                </defs>
                                                <path fill="url(#grad3)"
                                                    d="M12 1C5.924 1 1 5.924 1 12s4.924 11 11 11 11-4.924 11-11S18.076 1 12 1zm0 20c-4.962 0-9-4.038-9-9s4.038-9 9-9 9 4.038 9 9-4.038 9-9 9z" />
                                                <path fill="url(#grad3)"
                                                    d="M12 6V12l6 2-6 2V18h4v-2.586l5-3.585-5-3.586V6h-4z" />
                                            </svg>
                                        </div>
                                        <div class="ms-4">
                                            <h5>Power and Performance</h5>
                                            <p class="text-muted">
                                                Our quad bikes are powered by high-performance engines,
                                                ensuring that you get the speed, power, and control
                                                needed to conquer any terrain. Get ready to experience
                                                the ride of your life.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div>
                                            <svg class="motto-icon" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 24 24" width="24" height="24">
                                                <defs>
                                                    <linearGradient id="grad2" x1="0%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: #00ffff; stop-opacity: 1" />
                                                        <stop offset="100%" style="
                                stop-color: rgba(0, 255, 255, 0.2);
                                stop-opacity: 1;
                              " />
                                                    </linearGradient>
                                                </defs>
                                                <path fill="url(#grad2)"
                                                    d="M12 1C5.924 1 1 5.924 1 12s4.924 11 11 11 11-4.924 11-11S18.076 1 12 1zm0 20c-4.962 0-9-4.038-9-9s4.038-9 9-9 9 4.038 9 9-4.038 9-9 9z" />
                                                <path fill="url(#grad2)" d="M12 2L6 8h12z" />
                                            </svg>
                                        </div>
                                        <div class="ms-4">
                                            <h5>Built to Last</h5>
                                            <p class="text-muted">
                                                We understand the demands of off-road adventures, which
                                                is why our quad bikes are built to withstand the
                                                toughest environments. High-quality materials and
                                                precision engineering ensure your bike will last through
                                                countless adventures.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div>
                                            <svg class="motto-icon" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 24 24" width="24" height="24">
                                                <defs>
                                                    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: #00ffff; stop-opacity: 1" />
                                                        <stop offset="100%" style="
                                stop-color: rgba(0, 255, 255, 0.2);
                                stop-opacity: 1;
                              " />
                                                    </linearGradient>
                                                </defs>
                                                <path fill="url(#grad1)"
                                                    d="M12 1C5.924 1 1 5.924 1 12s4.924 11 11 11 11-4.924 11-11S18.076 1 12 1zm0 20c-4.962 0-9-4.038-9-9s4.038-9 9-9 9 4.038 9 9-4.038 9-9 9z" />
                                                <path fill="url(#grad1)"
                                                    d="M14.828 14.828c-1.758 1.758-3.708 2.686-5.656 2.686s-3.898-.928-5.656-2.686c-1.758-1.758-2.686-3.708-2.686-5.656s.928-3.898 2.686-5.656c1.758-1.758 3.708-2.686 5.656-2.686s3.898.928 5.656 2.686c1.758 1.758 2.686 3.708 2.686 5.656s-.928 3.898-2.686 5.656z" />
                                            </svg>
                                        </div>
                                        <div class="ms-4">
                                            <h5>Innovative Technology</h5>
                                            <p class="text-muted">
                                                We incorporate cutting-edge technology into our quad
                                                bikes, ensuring that each ride is efficient, safe, and
                                                thrilling. Expect smart features and advanced
                                                engineering that enhances your experience and maximizes
                                                enjoyment.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="d-flex mb-4">
                                        <div>
                                            <svg class="motto-icon" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 24 24" width="24" height="24">
                                                <defs>
                                                    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: #00ffff; stop-opacity: 1" />
                                                        <stop offset="100%" style="
                                stop-color: rgba(0, 255, 255, 0.2);
                                stop-opacity: 1;
                              " />
                                                    </linearGradient>
                                                </defs>
                                                <path fill="url(#grad1)"
                                                    d="M12 1c-5.523 0-10 4.477-10 10s4.477 10 10 10 10-4.477 10-10-4.477-10-10-10zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z" />
                                                <path fill="url(#grad1)" d="M10 7h4v6h-4z" />
                                                <path fill="url(#grad1)" d="M12 13h-1v1h1z" />
                                            </svg>
                                        </div>
                                        <div class="ms-4">
                                            <h5>Safety First</h5>
                                            <p class="text-muted">
                                                Our quad bikes come with enhanced safety features
                                                including reinforced frames, advanced suspension
                                                systems, and reliable braking mechanisms. You can ride
                                                with peace of mind, knowing you're protected on every
                                                adventure.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="d-flex mb-4">
                                        <div>
                                            <svg class="motto-icon" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 24 24" width="24" height="24">
                                                <defs>
                                                    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                                                        <stop offset="0%"
                                                            style="stop-color: #00ffff; stop-opacity: 1" />
                                                        <stop offset="100%" style="
                                stop-color: rgba(0, 255, 255, 0.2);
                                stop-opacity: 1;
                              " />
                                                    </linearGradient>
                                                </defs>
                                                <path fill="url(#grad1)" d="M7 10h4V6H7z" />
                                                <path fill="url(#grad1)"
                                                    d="M12 1C5.924 1 1 5.924 1 12s4.924 11 11 11 11-4.924 11-11S18.076 1 12 1zm0 20c-4.962 0-9-4.038-9-9s4.038-9 9-9 9 4.038 9 9-4.038 9-9 9z" />
                                            </svg>
                                        </div>
                                        <div class="ms-4">
                                            <h5>Fuel Efficiency</h5>
                                            <p class="text-muted">
                                                Our quad bikes offer impressive fuel efficiency,
                                                allowing you to go farther on a single tank. Whether
                                                you're out for a long ride or tackling a multi-day
                                                adventure, you'll have the fuel economy to keep moving
                                                forward.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-5 px-3 custom-background">
                        <div class="row justify-content-center">
                            <div class="col-xxl-8 col-xl-10">
                                <div class="text-dark fs-26 fw-semibold mb-4">
                                    <span class="about-heading">Client Reviews</span>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="card custom-card form-background">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-3">
                                                    <span class="avatar avatar-md avatar-rounded me-3">
                                                        <img src="../assets/images/media/Atv-vector.png" alt="" />
                                                    </span>
                                                    <div>
                                                        <p class="mb-0 fw-semibold fs-14">Julia Sams</p>
                                                        <p class="mb-0 fs-10 fw-semibold text-muted">
                                                            CHIEF SECRETARY BHOL
                                                        </p>
                                                    </div>
                                                </div>
                                                <p class="card-text">
                                                    There are many variations of passages of Lorem Ipsum
                                                    available, but the majority have suffered alteration
                                                    many variations of passages of Lorem Ipsum available
                                                    there are so many ways to solve but the majority have
                                                    suffered.
                                                </p>
                                            </div>
                                            <div class="card-footer">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <span class="text-muted">Rating : </span>
                                                        <span class="text-warning d-block ms-1">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star-half"></i>
                                                        </span>
                                                    </div>
                                                    <div class="float-end fs-12 fw-semibold text-muted text-end">
                                                        <span>16 hrs ago</span>
                                                        <span class="d-block fw-normal fs-12 custom-links"><i>Jhonson
                                                                Smith</i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="card custom-card form-background">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-3">
                                                    <span class="avatar avatar-md avatar-rounded me-3">
                                                        <img src="../assets/images/media/Atv-vector.png" alt="" />
                                                    </span>
                                                    <div>
                                                        <p class="mb-0 fw-semibold fs-14">Julia Sams</p>
                                                        <p class="mb-0 fs-10 fw-semibold text-muted">
                                                            CHIEF SECRETARY BHOL
                                                        </p>
                                                    </div>
                                                </div>
                                                <p class="card-text">
                                                    There are many variations of passages of Lorem Ipsum
                                                    available, but the majority have suffered alteration
                                                    many variations of passages of Lorem Ipsum available
                                                    there are so many ways to solve but the majority have
                                                    suffered.
                                                </p>
                                            </div>
                                            <div class="card-footer">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <span class="text-muted">Rating : </span>
                                                        <span class="text-warning d-block ms-1">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star-half"></i>
                                                        </span>
                                                    </div>
                                                    <div class="float-end fs-12 fw-semibold text-muted text-end">
                                                        <span>16 hrs ago</span>
                                                        <span class="d-block fw-normal fs-12 text-success"><i>Jhonson
                                                                Smith</i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="card custom-card form-background">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-3">
                                                    <span class="avatar avatar-md avatar-rounded me-3">
                                                        <img src="../assets/images/media/Atv-vector.png" alt="" />
                                                    </span>
                                                    <div>
                                                        <p class="mb-0 fw-semibold fs-14">Julia Sams</p>
                                                        <p class="mb-0 fs-10 fw-semibold text-muted">
                                                            CHIEF SECRETARY BHOL
                                                        </p>
                                                    </div>
                                                </div>
                                                <p class="card-text">
                                                    There are many variations of passages of Lorem Ipsum
                                                    available, but the majority have suffered alteration
                                                    many variations of passages of Lorem Ipsum available
                                                    there are so many ways to solve but the majority have
                                                    suffered.
                                                </p>
                                            </div>
                                            <div class="card-footer">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <span class="text-muted">Rating : </span>
                                                        <span class="text-warning d-block ms-1">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star-half"></i>
                                                        </span>
                                                    </div>
                                                    <div class="float-end fs-12 fw-semibold text-muted text-end">
                                                        <span>16 hrs ago</span>
                                                        <span class="d-block fw-normal fs-12 custom-links"><i>Jhonson
                                                                Smith</i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <div class="card custom-card form-background">
                                            <div class="card-body">
                                                <div class="d-flex align-items-center mb-3">
                                                    <span class="avatar avatar-md avatar-rounded me-3">
                                                        <img src="../assets/images/media/Atv-vector.png" alt="" />
                                                    </span>
                                                    <div>
                                                        <p class="mb-0 fw-semibold fs-14">Julia Sams</p>
                                                        <p class="mb-0 fs-10 fw-semibold text-muted">
                                                            CHIEF SECRETARY BHOL
                                                        </p>
                                                    </div>
                                                </div>
                                                <p class="card-text">
                                                    There are many variations of passages of Lorem Ipsum
                                                    available, but the majority have suffered alteration
                                                    many variations of passages of Lorem Ipsum available
                                                    there are so many ways to solve but the majority have
                                                    suffered.
                                                </p>
                                            </div>
                                            <div class="card-footer">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <span class="text-muted">Rating : </span>
                                                        <span class="text-warning d-block ms-1">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star-half"></i>
                                                        </span>
                                                    </div>
                                                    <div class="float-end fs-12 fw-semibold text-muted text-end">
                                                        <span>16 hrs ago</span>
                                                        <span class="d-block fw-normal fs-12 custom-links"><i>Jhonson
                                                                Smith</i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="py-5 px-3 bg-primary rounded-bottom">
                        <div class="row justify-content-center">
                            <div class="col-xl-4">
                                <div class="text-center">
                                    <h6 class="fw-semibold text-fixed-white pb-4 mb-0">
                                        <span class="about-heading-white">For any queries</span>
                                    </h6>
                                    <p class="fw-semibold text-fixed-white">
                                        Feel free to contact us any time
                                    </p>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Ask Here"
                                            aria-label="Ask Here" aria-describedby="button-addon2" />
                                        <button class="btn btn-register btn-wave waves-effect waves-light" type="button"
                                            id="button-addon2">
                                            Send
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>