<div class="container-fluid my-4">
    <div class="my-4 py-5"> <!-- Start::row-1 -->
        <div class="row mt-5">
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-12">
                <div class="card custom-card form-background products-navigation-card">
                    <div class="card-body p-0">
                        <div class="p-4 border-bottom">
                            <p class="fw-semibold mb-0 text-muted">CATEGORIES</p>
                            <div class="px-2 py-3 pb-0">
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="electronics"> <label class="form-check-label" for="electronics"> Electronics
                                    </label> <span class="badge bg-secondary-transparent float-end fs-10">2,712</span>
                                </div>
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="Accesories"> <label class="form-check-label" for="Accesories"> Accesories
                                    </label> <span class="badge bg-secondary-transparent float-end fs-10">536</span>
                                </div>
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="clothing" checked=""> <label class="form-check-label" for="clothing">
                                        Clothing </label> <span
                                        class="badge bg-secondary-transparent float-end fs-10">18,289</span> </div>
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="fashion"> <label class="form-check-label" for="fashion"> Fashion </label>
                                    <span class="badge bg-secondary-transparent float-end fs-10">3,453</span>
                                </div>
                                <div class="collapse" id="category-more">
                                    <div class="form-check mb-2"> <input class="form-check-input" type="checkbox"
                                            value="" id="furniture"> <label class="form-check-label" for="furniture">
                                            Furniture </label> <span
                                            class="badge bg-secondary-transparent float-end fs-10">7,165</span> </div>
                                    <div class="form-check mb-2"> <input class="form-check-input" type="checkbox"
                                            value="" id="footwear"> <label class="form-check-label" for="footwear">
                                            Footwear </label> <span
                                            class="badge bg-secondary-transparent float-end fs-10">5,964</span> </div>
                                    <div class="form-check mb-2"> <input class="form-check-input" type="checkbox"
                                            value="" id="mobiles"> <label class="form-check-label" for="mobiles">
                                            Mobiles </label> <span
                                            class="badge bg-secondary-transparent float-end fs-10">2,123</span> </div>
                                </div> <a class="ecommerce-more-link" data-bs-toggle="collapse" href="#category-more"
                                    role="button" aria-expanded="false" aria-controls="category-more">MORE</a>
                            </div>
                        </div>
                        <div class="p-4 border-bottom">
                            <p class="fw-semibold mb-0 text-muted">BRANDS</p>
                            <div class="px-2 py-3 pb-0">
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="Jimmy-Lolfiger" checked=""> <label class="form-check-label"
                                        for="Jimmy-Lolfiger"> Jimmy Lolfiger </label> <span
                                        class="badge bg-secondary-transparent float-end fs-10">512</span> </div>
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="dapzem1" checked=""> <label class="form-check-label" for="dapzem1"> Dapzem
                                        &amp; Co </label> <span
                                        class="badge bg-secondary-transparent float-end fs-10">2,186</span>
                                </div>
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="denim-winjo1" checked=""> <label class="form-check-label"
                                        for="denim-winjo1"> Denim Winjo </label> <span
                                        class="badge bg-secondary-transparent float-end fs-10">734</span> </div>
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="Louie-Phillippe"> <label class="form-check-label" for="Louie-Phillippe">
                                        Louie Phillippe </label> <span
                                        class="badge bg-secondary-transparent float-end fs-10">16</span> </div>
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="garage-clothing"> <label class="form-check-label" for="garage-clothing">
                                        Garage &amp; Co </label> <span
                                        class="badge bg-secondary-transparent float-end fs-10">1,432</span> </div>
                                <div class="collapse" id="brands-more">
                                    <div class="form-check mb-2"> <input class="form-check-input" type="checkbox"
                                            value="" id="blueberry" checked=""> <label class="form-check-label"
                                            for="blueberry"> Blueberry &amp; Co </label> <span
                                            class="badge bg-secondary-transparent float-end fs-10">257</span> </div>
                                    <div class="form-check mb-2"> <input class="form-check-input" type="checkbox"
                                            value="" id="aus-polo-assn" checked=""> <label class="form-check-label"
                                            for="aus-polo-assn"> Aus Polo Assn </label> <span
                                            class="badge bg-secondary-transparent float-end fs-10">1,845</span> </div>
                                    <div class="form-check mb-2"> <input class="form-check-input" type="checkbox"
                                            value="" id="denim-corp" checked=""> <label class="form-check-label"
                                            for="denim-corp"> Denim Corp </label> <span
                                            class="badge bg-secondary-transparent float-end fs-10">5,893</span> </div>
                                </div> <a class="ecommerce-more-link" data-bs-toggle="collapse" href="#brands-more"
                                    role="button" aria-expanded="false" aria-controls="brands-more">MORE</a>
                            </div>
                        </div>
                        <div class="p-4 border-bottom">
                            <p class="fw-semibold mb-0 text-muted">PRICE</p>
                            <div class="px-2 py-3 pb-0">
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="low"> <label class="form-check-label" for="low"> $0 - $599 </label> <span
                                        class="badge bg-secondary-transparent float-end fs-10">22,873</span> </div>
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="low1" checked=""> <label class="form-check-label" for="low1"> $599 - $1299
                                    </label> <span class="badge bg-secondary-transparent float-end fs-10">11,345</span>
                                </div>
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="medium"> <label class="form-check-label" for="medium"> $1,299 - $2,199
                                    </label> <span class="badge bg-secondary-transparent float-end fs-10">6,987</span>
                                </div>
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="high"> <label class="form-check-label" for="high"> $2,199 - $3,499 </label>
                                    <span class="badge bg-secondary-transparent float-end fs-10">5,236</span>
                                </div>
                                <div class="form-check mb-4"> <input class="form-check-input" type="checkbox" value=""
                                        id="high1"> <label class="form-check-label" for="high1"> $3,499 &amp; Above
                                    </label> <span class="badge bg-secondary-transparent float-end fs-10">3,735</span>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 border-bottom">
                            <p class="fw-semibold mb-0 text-muted">DISCOUNT</p>
                            <div class="px-2 py-3 pb-0">
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="Jimmy-Lolfiger1"> <label class="form-check-label" for="Jimmy-Lolfiger1"> 0%
                                        - 20% </label> <span
                                        class="badge bg-secondary-transparent float-end fs-10">16,563</span>
                                </div>
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="dapzem2"> <label class="form-check-label" for="dapzem2"> 20% - 40% </label>
                                    <span class="badge bg-secondary-transparent float-end fs-10">15,234</span>
                                </div>
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="denim-winjo"> <label class="form-check-label" for="denim-winjo"> 40% - 60%
                                    </label> <span class="badge bg-secondary-transparent float-end fs-10">6,278</span>
                                </div>
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="Louie-Phillippe1" checked=""> <label class="form-check-label"
                                        for="Louie-Phillippe1"> 60% - 80% </label> <span
                                        class="badge bg-secondary-transparent float-end fs-10">4,531</span> </div>
                                <div class="form-check"> <input class="form-check-input" type="checkbox" value=""
                                        id="garage-clothing1"> <label class="form-check-label" for="garage-clothing1">
                                        80% - 90% </label> <span
                                        class="badge bg-secondary-transparent float-end fs-10">2,405</span> </div>
                            </div>
                        </div>
                        <div class="p-4">
                            <p class="fw-semibold mb-0 text-muted">SIZES</p>
                            <div class="px-2 py-3 pb-0">
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="extra-small"> <label class="form-check-label" for="extra-small"> Extra Small
                                        (XS) </label> <span
                                        class="badge bg-secondary-transparent float-end fs-10">23,156</span>
                                </div>
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="small"> <label class="form-check-label" for="small"> Small (SM) </label>
                                    <span class="badge bg-secondary-transparent float-end fs-10">15,632</span>
                                </div>
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="medium1"> <label class="form-check-label" for="medium1"> Medium (MD)
                                    </label> <span class="badge bg-secondary-transparent float-end fs-10">15,032</span>
                                </div>
                                <div class="form-check mb-2"> <input class="form-check-input" type="checkbox" value=""
                                        id="large" checked=""> <label class="form-check-label" for="large"> Large (L)
                                    </label> <span class="badge bg-secondary-transparent float-end fs-10">7,154</span>
                                </div>
                                <div class="collapse" id="sizes-more">
                                    <div class="form-check mb-2"> <input class="form-check-input" type="checkbox"
                                            value="" id="extra-large"> <label class="form-check-label"
                                            for="extra-large"> Extra Large (XL) </label> <span
                                            class="badge bg-secondary-transparent float-end fs-10">5,946</span> </div>
                                    <div class="form-check mb-2"> <input class="form-check-input" type="checkbox"
                                            value="" id="double-extralarge"> <label class="form-check-label"
                                            for="double-extralarge"> XXL </label> <span
                                            class="badge bg-secondary-transparent float-end fs-10">3,267</span> </div>
                                    <div class="form-check mb-2"> <input class="form-check-input" type="checkbox"
                                            value="" id="triple-extralarge"> <label class="form-check-label"
                                            for="triple-extralarge"> XXL </label> <span
                                            class="badge bg-secondary-transparent float-end fs-10">578</span> </div>
                                </div> <a class="ecommerce-more-link" data-bs-toggle="collapse" href="#sizes-more"
                                    role="button" aria-expanded="false" aria-controls="sizes-more">MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-9 col-xl-8 col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card form-background product-card">
                            <div class="card-body"> <a href="product-details.html" class="product-image"> <img
                                        src="assets/images/Order-Details/FirstImage.png" class="card-img mb-3" alt="..."
                                        style="background: transparent;"> </a>
                                <div class="product-icons"> <a href="wishlist.html" class="wishlist">
                                        <i class="fas fa-heart"></i></a> <a href="cart.html" class="cart"><i
                                            class="fas fa-shopping-cart"></i></a> <a href="product-details.html"
                                        class="view"><i class="far fa-eye"></i></a> </div>
                                <p
                                    class="product-name fw-semibold mb-0 d-flex align-items-center justify-content-between">
                                    Dapzem &amp; Co<span class="float-end text-warning fs-12">4.2<i
                                            class="fas fa-star align-middle ms-1 d-inline-block"></i></span></p>
                                <p class="product-description fs-11 text-muted mb-2">Branded hoodie ethnic style</p>
                                <p class="mb-1 fw-semibold fs-16 d-flex align-items-center justify-content-between">
                                    <span>$229<span
                                            class="text-muted text-decoration-line-through ms-1 d-inline-block op-6">$1,799</span></span><span
                                        class="badge bg-secondary-transparent float-end fs-10">72% off</span>
                                </p>
                                <p class="fs-11 text-secondary fw-semibold mb-0 d-flex align-items-center"> <i
                                        class="fas fa-tag fs-16 me-1"></i>Offer Price $229 </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card form-background product-card">
                            <div class="card-body"> <a href="product-details.html" class="product-image"> <img
                                        src="assets/images/Order-Details/SecondImage.png" class="card-img mb-3"
                                        alt="..." style="background: transparent;"> </a>
                                <div class="product-icons"> <a href="wishlist.html" class="wishlist"><i
                                            class="fas fa-heart"></i></a> <a href="cart.html" class="cart"><i
                                            class="fas fa-shopping-cart"></i></a> <a href="product-details.html"
                                        class="view"><i class="far fa-eye"></i></a> </div>
                                <p
                                    class="product-name fw-semibold mb-0 d-flex align-items-center justify-content-between">
                                    Denim Winjo<span class="float-end text-warning fs-12">4.0<i
                                            class="fas fa-star align-middle ms-1 d-inline-block"></i></span></p>
                                <p class="product-description fs-11 text-muted mb-2">Vintage pure leather Jacket</p>
                                <p class="mb-1 fw-semibold fs-16 d-flex align-items-center justify-content-between">
                                    <span>$599<span
                                            class="text-muted text-decoration-line-through ms-1 d-inline-block op-6">$2,499</span></span><span
                                        class="badge bg-secondary-transparent float-end fs-10">75% off</span>
                                </p>
                                <p class="fs-11 text-secondary fw-semibold mb-0 d-flex align-items-center"> <i
                                        class="fas fa-tag fs-16 me-1"></i>Offer Price $599</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card form-background product-card">
                            <div class="card-body"> <a href="product-details.html" class="product-image"> <img
                                        src="assets/images/Order-Details/FirstImage.png" class="card-img mb-3" alt="..."
                                        style="background: transparent;"> </a>
                                <div class="product-icons"> <a href="wishlist.html" class="wishlist"><i
                                            class="fas fa-heart"></i></a> <a href="cart.html" class="cart"><i
                                            class="fas fa-shopping-cart"></i></a> <a href="product-details.html"
                                        class="view"><i class="far fa-eye"></i></a> </div>
                                <p
                                    class="product-name fw-semibold mb-0 d-flex align-items-center justify-content-between">
                                    Jimmy Lolfiger<span class="float-end text-warning fs-12">4.5<i
                                            class="fas fa-star align-middle ms-1 d-inline-block"></i></span></p>
                                <p class="product-description fs-11 text-muted mb-2">Unisex jacket for men &amp; women
                                </p>
                                <p class="mb-1 fw-semibold fs-16 d-flex align-items-center justify-content-between">
                                    <span>$1,199<span
                                            class="text-muted text-decoration-line-through ms-1 d-inline-block op-6">$3,299</span></span><span
                                        class="badge bg-secondary-transparent float-end fs-10">62% off</span>
                                </p>
                                <p class="fs-11 text-secondary fw-semibold mb-0 d-flex align-items-center"> <i
                                        class="fas fa-tag fs-16 me-1"></i>Offer Price $1,199</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="card custom-card form-background product-card">
                            <div class="card-body"> <a href="product-details.html" class="product-image"> <img
                                        src="assets/images/Order-Details/SecondImage.png" class="card-img mb-3"
                                        alt="..." style="background: transparent;"> </a>
                                <div class="product-icons"> <a href="wishlist.html" class="wishlist"><i
                                            class="fas fa-heart"></i></a> <a href="cart.html" class="cart"><i
                                            class="fas fa-shopping-cart"></i></a> <a href="product-details.html"
                                        class="view"><i class="far fa-eye"></i></a> </div>
                                <p
                                    class="product-name fw-semibold mb-0 d-flex align-items-center justify-content-between">
                                    Bluberry Co.In<span class="float-end text-warning fs-12">4.2<i
                                            class="fas fa-star align-middle ms-1 d-inline-block"></i></span></p>
                                <p class="product-description fs-11 text-muted mb-2">Full sleeve white hoodie</p>
                                <p class="mb-1 fw-semibold fs-16 d-flex align-items-center justify-content-between">
                                    <span>$349<span
                                            class="text-muted text-decoration-line-through ms-1 d-inline-block op-6">$1,299</span></span><span
                                        class="badge bg-secondary-transparent float-end fs-10">60% off</span>
                                </p>
                                <p class="fs-11 text-secondary fw-semibold mb-0 d-flex align-items-center"> <i
                                        class="fas fa-tag fs-16 me-1"></i>Offer Price $349</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div> <!--End::row-1 --> <!-- Pagination -->
        <ul class="pagination justify-content-end">
            <li class="page-item disabled"> <a class="page-link">Previous</a> </li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
            <li class="page-item"> <a class="page-link" href="javascript:void(0);">Next</a> </li>
        </ul> <!-- Pagination -->
    </div>
</div>